<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noexp.timebank.mapper.ServeNeedMapper">
<!--    resultMap定义了如何从数据库结果集中来加载对象。-->
    <resultMap id="ServeNeedResultMap" type="com.noexp.timebank.entity.ServeNeed">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="user_id" property="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="title" property="title" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="content" property="content" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="type" property="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="address" property="address" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="longitude" property="longitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
        <result column="latitude" property="latitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
        <result column="reward" property="reward" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="comment" property="comment" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="comment_user_id" property="commentUserId" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="comment_user_name" property="commentUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="comment_user_avatar" property="commentUserAvatar" jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

</mapper>